html,
body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  font-size: $font-size;
  color: $alabaster;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Anti Aliasing for fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Selectin */
::selection {
  color: $alabaster;
  background: $nileblue;
}
