/* Colors */
$alabaster: #fafafa !default;
$madang: #9aefa5 !default;
$burntsienna: #ec5b5b !default;
$keppel: #30a7af !default;
$nileblue: #185458 !default;

/* Gradient names */
$light-gradient: $keppel !default;
$dark-gradient: $nileblue !default;
