@import '../../styles/helpers';

/* Variables */
$_APP_PADDING: 40 !default;
$_APP_SIDE_PADDING: 20 !default;

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, $light-gradient, $dark-gradient);
    width: calc(100% - #{remcalc( 2 * $_APP_SIDE_PADDING )});
    height: calc(100vh - #{remcalc( 2 * $_APP_PADDING )});
    padding: remcalc($_APP_PADDING) remcalc($_APP_SIDE_PADDING);
    text-transform: uppercase;
}

.gameHeading {
    font-size: remcalc(28);
    text-align: center;
    line-height: 1.4
}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: remcalc(320);
}
